extends ../_layout.jade
block variables
  - var engine_path_prefix = '../../'
  - var title = 'Rotated objects sharing texture'
  - var game_source = '../js/benchmarks/rotated-objects-sharing-texture.js'
