extends ../_layout.jade
block variables
  - var engine_path_prefix = '../../'
  - var title = 'Rotated moving objects sharing texture'
  - var game_source = '../js/benchmarks/rotated-moving-objects-sharing-texture.js'
