doctype html
html(lang="en")
  head
    title= "jsEngine"
    link(href='css/style.css', rel='stylesheet')
    script(type='text/javascript', src="js/jsEngine/Extension/Object.js")
    script(type='text/javascript', src="js/jsEngine/Polyfill/requestAnimationFrame.js")
    script(type='text/javascript', src="js/jsEngine/functions.js")
    script(type='text/javascript', src="js/jsEngine/Engine/Globals.js")
    script(type='text/javascript', src="js/jsEngine/Engine/Engine.js")
    script(type='text/javascript', src="js/jsEngine/Engine/Loader.js")
    script(type='text/javascript', src="js/jsEngine/Engine/ObjectCreator.js")
    script(type='text/javascript', src="js/jsEngine/Mixin/Animatable.js")
    script(type='text/javascript', src="js/jsEngine/Mixin/MatrixCalculation.js")
    script(type='text/javascript', src="js/jsEngine/Mixin/WebGLHelpers.js")
    script(type='text/javascript', src="js/jsEngine/Renderer/WebGL.js")
    script(type='text/javascript', src="js/jsEngine/Renderer/WebGL.TextureShaderProgram.js")
    script(type='text/javascript', src="js/jsEngine/Renderer/WebGL.ColorShaderProgram.js")
    script(type='text/javascript', src="js/jsEngine/Renderer/Canvas.js")
    script(type='text/javascript', src="js/jsEngine/Math/Vector.js")
    script(type='text/javascript', src="js/jsEngine/Math/Line.js")
    script(type='text/javascript', src="js/jsEngine/Math/Circle.js")
    script(type='text/javascript', src="js/jsEngine/Math/Rectangle.js")
    script(type='text/javascript', src="js/jsEngine/Math/Polygon.js")
    script(type='text/javascript', src="js/jsEngine/View/Child.js")
    script(type='text/javascript', src="js/jsEngine/View/Line.js")
    script(type='text/javascript', src="js/jsEngine/View/Circle.js")
    script(type='text/javascript', src="js/jsEngine/View/Rectangle.js")
    script(type='text/javascript', src="js/jsEngine/View/Polygon.js")
    script(type='text/javascript', src="js/jsEngine/View/Container.js")
    script(type='text/javascript', src="js/jsEngine/View/Sprite.js")
    script(type='text/javascript', src="js/jsEngine/View/Collidable.js")
    script(type='text/javascript', src="js/jsEngine/View/TextBlock.js")
    script(type='text/javascript', src="js/jsEngine/View/GameObject.js")
    script(type='text/javascript', src="js/jsEngine/Engine/Room.js")
    script(type='text/javascript', src="js/jsEngine/Engine/Camera.js")
    script(type='text/javascript', src="js/jsEngine/Engine/CustomLoop.js")
    script(type='text/javascript', src="js/jsEngine/Input/Keyboard.js")
    script(type='text/javascript', src="js/jsEngine/Input/Pointer.js")
    script(type='text/javascript', src="js/jsEngine/Sound/Effect.js")
    script(type='text/javascript', src="js/jsEngine/Sound/Music.js")
    script(type='text/javascript', src="js/Game.js")
  body
    #arena
    script(type='text/javascript', src="js/main.js")
