doctype html
html(lang="en")
  head
    title= "Mixels 2015"
    link(href='game.dist.css', rel='stylesheet')
    script(type='text/javascript', src="game.dist.js")
  body
    #cell
      center
        #game
