doctype html
block variables
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href=(engine_path_prefix + 'engine.css'))
    script(type='text/javascript', src=(engine_path_prefix + 'engine.js'))
    meta(charset='utf-8')
    meta(name="viewport", content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0")
  body
    #arena
    script(type='text/javascript', src=game_source)
