extends ../../examples.jade
block variables
  - var engine_path_prefix = '../../'
  - var title = 'Animated transformed objects sharing texture'
  - var game_source = '../js/benchmarks/animated-transformed-objects-sharing-texture.js'
