extends ../../examples.jade
block variables
  - var engine_path_prefix = '../../'
  - var title = 'Transformed objects sharing texture'
  - var game_source = '../js/benchmarks/transformed-objects-sharing-texture.js'
